---
import Container from "./Container.astro";
---

<Container>
<div class="my-40 relative w-full overflow-hidden">
  <div class="flex w-[200%] animate-marquee">
    <!-- Group 1 -->
    <div class="flex w-1/2 justify-around items-center">
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/microsoft.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="./images/clients/airbnb.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="./images/clients/google.svg" class="h-14 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/ge.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/netflix.svg" class="h-12 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/google-cloud.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
    </div>
    <!-- Group 2 -->
    <div class="flex w-1/2 justify-around items-center">
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/microsoft.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="./images/clients/airbnb.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="./images/clients/google.svg" class="h-14 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/ge.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/netflix.svg" class="h-12 w-auto" loading="lazy" alt="client logo" />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/google-cloud.svg" class="h-16 w-auto" loading="lazy" alt="client logo" />
      </div>
    </div>
  </div>
</div>
</Container>

<style>
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
  .animate-marquee:hover {
    animation-play-state: paused;
  }
</style>
